.DS_Store
node_modules
/.svelte-kit
/package
/build/
.env
pnpm-lock.yaml
.idea/watcherTasks.xml
src/i18n/formatters.ts
src/i18n/i18n-svelte.ts
src/i18n/i18n-types.ts
src/i18n/i18n-util.ts
src/i18n/en/index.ts~parent of 2aa50f9 (get demo working)
src/lib/fonts/keifont.ttf
src/lib/fonts/Meiryo W53 Regular.ttf
src/lib/fonts/MTCORSVA.ttf
src/lib/fonts/paybooc_Bold.ttf
